body{
    /* background-color: rgb(236, 203, 195); */
}
h1{
    color: gray;
}
img{
    border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 50px;
}
div{
    border-radius: 30px;
    border: solid gray ;
}
.div1{
    display: grid;
    grid-template:auto;
}
.div2, .div3{
    border: 2px;
    border: turquoise;
}